@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .bg_default{
    @apply bg-[#101720] lg:w-full lg:h-[100vh] md:h-[100vh] md:w-full sm:h-[100vh] sm:w-full max-sm:h-[100vh] max-sm:w-full
  }
  /* .modebar{
    @apply grid grid-cols-6
  } */

  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grow{
  background-color: transparent;
}
.btn_active{
  color: white;
}
.btn_selector{
  transition: 0.8s ease;
}
.auth_holder{
  overflow: hidden;
}
.auth_holder form{
  position: absolute;
  top: 15%;
  transition: 0.8s ease;
  /* border: 1px solid red; */
  
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .modebar{
  background-color: red;
  width: 100%;
} */